<div>
   <nz-header class="main-header" nz-row nzType = "flex" class="custom-navbar">
      <div class = "navbar-title">
          <a routerLink="/home">Powerex</a>
      </div>
      <div class="nav-links">
           <a nz-button nzType="link" routerLink="/register" routerLinkActive="activate">Sign Up</a>
           <a nz-button nzType="link" routerLink="/login" routerLinkActive="activate">Login</a>
      </div>
    </nz-header>
</div>

<div *ngIf="isAdminLoggedIn">
    <nz-header class="main-header" nz-row nzType = "flex" class="custom-navbar">
       <div class = "navbar-title">
           <a>Hello, Admin</a>
       </div>
       <div class="nav-links">
            <a nz-button nzType="link" routerLink="/admin/dashboard" routerLinkActive="activate">Dashboard</a>
             <!-- <a nz-button nzType="link" routerLink="/admin/ad" routerLinkActive="activate">New Ad</a> -->
            <a nz-button nzType="link" (click)="logout()" routerLinkActive="activate">Logout</a>
       </div>
     </nz-header>
 </div>

 <div *ngIf="isCustomerLoggedIn">
    <nz-header class="main-header" nz-row nzType = "flex" class="custom-navbar">
       <div class = "navbar-title">
       
        <button mat-icon-button class="example-icon favorite-icon"  aria-label="Example icon-button with heart icon" 
        matTooltip="Click to see this topic"
        aria-label="Button that displays a tooltip when focused or hovered over" (click)="openDialog()">
  <mat-icon style="height: 30px; font-size: 20px;">💼</mat-icon>
        </button>
        <div class="dropdown">
            <button class="dropbtn">&nbsp;&nbsp;<mat-icon>home</mat-icon>Welcome</button>
            <div class="dropdown-content">
              <a href="/customer/create-post">Post Your Thoughts</a>
              <a href="/customer/fy">See the thoughts of others</a>
              <a href="#">Little Survey</a>
            </div>
          </div>
       </div>
       <div class="nav-links">
            <a nz-button nzType="link" routerLink="/customer/dashboard" routerLinkActive="activate">Dashboard</a>
            <a nz-button nzType="link"  (click)="logout()" routerLinkActive="activate">Logout</a>
       </div>
     </nz-header>
 </div>
 <router-outlet></router-outlet>


 <footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>&nbsp;&nbsp;About</h6>
        <p class="text-justify"><i>&nbsp;POWEREX &nbsp;</i>your ultimate destination for all things fitness! Whether you're a seasoned gym enthusiast or just beginning your fitness journey, 
          our blog is your go-to resource for valuable tips, expert advice, and inspiring stories to help you achieve your health and wellness goals.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>&nbsp;&nbsp;Categories</h6>
        <div class="footer-links">
          <p>&nbsp;#Fitness Challenges #Workout Routines #Nutrition and Diet #Exercise Techniques #Motivation and Inspiration #Fitness Trends and Innovations #Mind-Body Connection</p>
          
        </div>
      </div>

      <div class="col-xs-6 col-md-3">
        
        
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">&nbsp;Copyright &copy; 2024 All Rights Reserved by 
     <a href="#">Powerex</a>.
        </p>
      </div>

     
    </div>
  </div>
</footer>