<h2 mat-dialog-title>Choose one of the challenges for today </h2>
<mat-dialog-content class="mat-typography">
  <h3>AMRAP (As Many Rounds As Possible):</h3>
  <p>Choose a set of exercises (e.g., squats, push-ups, burpees).
    Set a timer for a specific duration (e.g., 10 minutes).
    Perform as many rounds of the exercises as possible within the time limit, aiming for proper form and technique.</p>

  <h3>Tabata:</h3>
  <p>Select an exercise (e.g., sprints, jumping jacks, kettlebell swings).
    Perform the exercise at maximum intensity for 20 seconds.
    Rest for 10 seconds.
    Repeat for a total of 8 rounds (4 minutes).</p>

  <h3>Circuit Challenge:</h3>
  <p>Create a circuit with different exercise stations (e.g., lunges, mountain climbers, kettlebell rows).
    Set a specific time for each station (e.g., 1 minute).
    Perform each exercise consecutively, moving from one station to the next without rest.
    Complete the entire circuit and repeat for multiple rounds.</p>

  <h3>Partner Challenges:</h3>
  <p>Pair up participants and assign them various challenges (e.g., wheelbarrow walks, partner push-ups, medicine ball passes).
    Participants alternate performing the exercises while providing encouragement and support to their partner.</p>

  <h3>Distance Challenges:</h3>

  <p> Set a distance goal for activities like running, rowing, or cycling.
    Participants aim to cover the specified distance within a certain time frame, pushing their pace to achieve the goal.</p>

  <h3>Strength Challenges:</h3>

  <p>Choose a strength-based exercise (e.g., deadlifts, bench presses, pull-ups).
    Set a challenging weight or repetition goal.
    Participants attempt to lift the weight or perform the exercise for the specified number of repetitions, pushing their limits.</p>

    <h3>Cardio Challenges:</h3>

    <p>Create cardio-based challenges such as stair climbs, hill sprints, or shuttle runs.
        Participants aim to complete the challenge in the shortest amount of time or accumulate the most distance covered.</p>

        <h3>Skill Challenges:</h3>
        <p>Focus on improving specific skills such as balance, agility, or coordination.
            Design challenges that involve activities like agility ladder drills, balance board exercises, or speed ladder runs.</p>

            <h5><br>These challenges can be adjusted to accommodate various fitness levels and preferences. They add excitement and motivation to training sessions, helping participants stay engaged and committed to their fitness goals.</h5>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>No, I'm not ready yet</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Sure, I'm ready</button>
</mat-dialog-actions>

