.center-card{
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    padding: 30px;
    color: rgb(158, 141, 45);
}

mat-form-field{
    color: rgb(158, 141, 45);
    width: 100%;
}

mat-label {
    color: rgb(158, 141, 45);

}

button{
    color: rgb(158, 141, 45);
    background-color: rgb(64, 57, 57);
}
 
  